* {
  line-height: 21px;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 1000px;
}
.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
.nav-container > div {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}
/* Arabic is under */

.nav-container-ar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
.nav-container-ar > div {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.nav-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 23px;
}
.nav-list ul li {
  font-weight: bold;
  padding: 17px 20px;
  border-top: 4px solid white;
}
.nav-list ul li:hover {
  cursor: pointer;
  border-top: 4px solid red;
}
/* Arabic is under */

.nav-list-ar ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 23px;
}
.nav-list-ar ul li {
  font-weight: bold;
  padding: 17px 20px;
  border-top: 4px solid white;
}
.nav-list-ar ul li:hover {
  cursor: pointer;
  border-top: 4px solid red;
}
.user-information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.user-information > div {
  margin: 0px 10px 0px 10px;
  border-top: 4px solid white;
  font-weight: bold;
  cursor: pointer;
}

.user-information div:last-child {
  color: red;
  margin: 0px 5px 0px 5px;
  border-top: 4px solid white;
  font-weight: bold;
  cursor: pointer;
}
.user-information > div:hover {
  border-top: 4px solid red;
}
/* Arabic  */
.user-information-ar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.user-information-ar > div {
  margin: 0px 0px 0px 0px;
  border-top: 4px solid white;
  font-weight: bolder;
  cursor: pointer;
}

.user-information-ar div:last-child {
  color: red;
  margin: 0px 5px 0px 5px;
  border-top: 4px solid white;
  font-weight: bold;
  cursor: pointer;
}
.user-information-ar > div:hover {
  border-top: 4px solid red;
}
/* Nav end */
.track-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.track-form {
  margin: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  box-shadow: 5px 5px 18px -12px #000000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.track-form input {
  outline: none;
  border: 1px solid gray;
  padding: 7px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.search-icon {
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* Arabic is under */
.main-content-ar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.grid-info {
  width: 100%;
  margin-bottom: 50px;
}
.green {
  color: #1ac45e;
}
.grid-info {
  border: 1px solid gray;
  width: 70%;
}

.footer > div {
  width: 50%;
}
.social-icons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.social-icons > p {
  margin-left: 20px;
}
.footer-content {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #141414;
  color: white;
}
/* Arabic */

.footer-content-ar {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background: #141414;
  color: white;
}
.mini-menu {
  display: none;
}
.footer-bottom {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 1000px) {
  .nav-container {
  }
  .nav-list > ul {
    display: none;
  }
  .user-information > div > h3 {
    display: none;
  }
  .mini-menu {
    display: block;
  }
  .mini-menu:hover {
    border: 0px solid black;
  }
  .menu-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
